<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <meta name="description" content="딜버 맛집, 딜버 배달대행 프로그램, 생활 편의 서비스 제공">
  <meta property="og:type" content="website">
  <meta property="og:title" content="딜버 - 스마트한 배달대행">
  <meta property="og:description" content="딜버 맛집, 딜버 배달대행 프로그램, 생활 편의 서비스 제공">
  <meta property="og:url" content="http://www.dealver.co.kr">
  <meta name="naver-site-verification" content="86bf5334a3d442f1df19a1c916998949f7f1be64" />

  <title>딜버 - 스마트한 배달대행</title>
  <link rel="stylesheet" href="/assets/main/css/font.css" />
  <link rel="stylesheet" href="/assets/main/css/reset.css" />
  <link rel="stylesheet" href="/assets/main/css/swiper.css" />
  <link rel="stylesheet" href="/assets/main/css/style.css" />
  <link rel="stylesheet" href="/assets/main/css/aos.css" />
</head>
<body>

<header id="sub_header">
  <h1 class="h_logo"><a href="/homepage/main_renewal"></a></h1>

  <!-- //.pc_gnb-->
  <div id="open_menu"></div><!-- //#open_menu -->
</header><!-- //#header -->

<div id="wrap">
  <button id="sound_btn"></button>

  <div id="main_visual">

    <div class="main_video_wrap">
      <!--<iframe width="1920" height="451" src="https://www.youtube.com/embed/kFHOPKwtFD0?color=white&controls=1&rel=0&modestbranding=1&autoplay=0&autohide=1" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> //유튜브동영상-->
      <video src="/assets/main/images/main_video_pc.mp4" id="main_video" autoplay muted loop class="pc_view"></video><!-- pc재생 -->
      <video src="/assets/main/images/main_video_mo.mp4" id="main_video" autoplay muted loop class="mo_view"></video><!-- mobile재생 -->
    </div><!-- //.main-video -->

    <div class="scroll"><img src="/assets/main/images/scroll.png" alt=""></div>
  </div><!-- //#main-slide -->

  <div id="content">

    <!-- section1 시작 -->
    <section class="sec01" data-aos="fade-up" data-aos-duration="800">
      <div class="sec_inner">
        <div class="title_wrap">
          <h2 class="main_title">개발하기 위해 <br class="mo_view">배달부터 시작하다.</h2>
          <p class="main_txt">겪어본 자 만이 고충을 아는법! <br class="mo_view">직접 라이더가 된 딜버의 개발자</p>
        </div>
        <!--<div class="expand">
<div class="expand_in">
<img src="" alt="">
</div>
</div>-->

      </div>
      <div class="video_wrapper">
        <div id="video_slide" class="video_slide">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <div class="v_box">
                <iframe class="sec01_video" src="" frameborder="0" allowfullscreen></iframe>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="v_box">
                <iframe class="sec01_video" src="" frameborder="0" allowfullscreen></iframe>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="v_box">
                <iframe class="sec01_video" src="" frameborder="0" allowfullscreen></iframe>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="v_box">
                <iframe class="sec01_video" src="" frameborder="0" allowfullscreen></iframe>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="v_box">
                <iframe class="sec01_video" src="" frameborder="0" allowfullscreen></iframe>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="v_box">
                <iframe class="sec01_video" src="" frameborder="0" allowfullscreen></iframe>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="v_box">
                <iframe class="sec01_video" src="" frameborder="0" allowfullscreen></iframe>
              </div>
            </li>
          </ul>
          <div class="video_slide_pager"></div>
        </div>
      </div><!-- //.sec_inner -->
      <!--<div class="sec01_bg"></div>-->
      <div id="ani_logo" class=""><img src="/assets/main/images/logo_bg.png" alt=""></div>
    </section><!-- //.sec01 -->

    <!-- section2 시작 -->
    <section class="sec02">

      <div class="sec02_in" data-aos="fade-left" data-aos-duration="800">
        <div class="sec_inner">
          <div class="title_wrap">
            <h2 class="main_title">우리회사는 <br class="mo_view">어떤 회사일까요?</h2>
            <p class="main_txt">딜버 본사, 더원인터내셔널을 소개합니다.</p>
          </div><!-- //.title_wrap -->
        </div><!-- //.sec_inner -->

        <div class="card_wrap cf">

          <div class="card_area">
            <div id="card_slide" class="card_slide">
              <ul class="swiper-wrapper">
                <li class="swiper-slide card_slide_01">
                  <p class="card_in_txt">더원인터내셔널의 <br>역사</p>
                  <span class="card_hide_tx hide">딜버 본사, 더원인터내셔널의 역사</span>
                </li>
                <li class="swiper-slide card_slide_02">
                  <p class="card_in_txt">우리는 왜 딜버를 <br>만들게 되었을까?</p>
                  <span class="card_hide_tx hide">딜버를 만들게 된 계기를 소개합니다.</span>
                </li>
                <li class="swiper-slide card_slide_03">
                  <p class="card_in_txt">우리는 <br>어떤 팀인가?</p>
                  <span class="card_hide_tx hide">우리 팀의 장점은 무엇일까요?</span>
                </li>
                <li class="swiper-slide card_slide_04">
                  <p class="card_in_txt">우리는 어떤 일을 <br>하고있을까?</p>
                  <span class="card_hide_tx hide">개발중인 서비스와 앞으로 개발예정인 서비스</span>
                </li>
                <li class="swiper-slide card_slide_05">
                  <p class="card_in_txt">함께 성장하는 파트너, <br>신뢰있는 배달대행사로 <br>성장하고 싶어요</p>
                  <span class="card_hide_tx hide">당신과 함께 동반성장을 하고싶어요.</span>
                </li>
                <li class="swiper-slide card_slide_06">
                  <p class="card_in_txt">이런일이 <br>하고 싶어요</p>
                  <span class="card_hide_tx hide">우리가 하고싶은 일을 소개합니다.</span>
                </li>
              </ul>
            </div><!-- //#card_slide -->
          </div><!-- //.card_area -->

          <div class="card_text">
            <p class="card_page"><span class="card_now"></span>/<span class="card_total"></span></p>
            <h3 class="card_tt"></h3>
            <p class="card_tx">딜버 본사, 더원인터내셔널의 <br class="pc_view">창립 초창기는 어땠을까요?</p>
            <button id="card_slide_btn" class="btn_circle"></button>
          </div>

        </div><!-- //.card_wrap -->

      </div><!-- //.sec02_in -->

    </section><!-- //.sec02 -->

    <!-- section3 시작 -->
    <section class="sec03" data-aos="fade-up" data-aos-duration="800">
      <div class="sec_inner">
        <div class="title_wrap">
          <h2 class="main_title">딜버 프로그램을 <br class="mo_view">소개합니다.</h2>
        </div><!-- //.title_wrap -->

        <div class="pro_info proSwiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <div class="pro_content">
                <div class="pro_txt">
                  <em class="sub_title">기사 프로그램</em>
                  <p>
                    최적의 경로를 안내해주는 ai추천 배차시스템 <br />
                    운행한만큼 지불하는 21세/24세 시간제 보험 <br />
                    직관적이고 편리한 ui아이폰 제공
                  </p>
                </div>
                <div class="pro_video">
                  <iframe class="pro_video01" src="/assets/main/images/pro_01.mp4" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="pro_content">
                <div class="pro_txt">
                  <em class="sub_title">상점 프로그램</em>
                  <p>
                    모바일 연동 (배민, 요기요) <br />
                    카드충전시스템 최저 수수료 2.75% <br />
                    AI자동 코스 추천시스템으로 "같은방향 묶음배송" <br />
                    아이폰 제공

                  </p>
                </div>
                <div class="pro_video">
                  <iframe class="pro_video02" src="/assets/main/images/pro_02.mp4" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="pro_content">
              <div class="pro_txt">
                <em class="sub_title">관제 프로그램
                </em>
                <p>
                  실시간 갱신으로 쾌적한 관제 환경 <br />
                  자동배차(AI)시스템으로 효율적인 배차 분배 <br />
                  PC와 모바일 동일한 기능 구현 <br />
                  배민, 요기요 등 연동 3초 컷
                </p>
              </div>
              <div class="pro_video">
                <iframe class="pro_video03" src="/assets/main/images/pro_03.mp4" frameborder="0" allowfullscreen></iframe>
              </div>
              </div>
            </li>

          </ul>
          <div class="pro-swiper-pagination"></div>


        </div>
      </div>
    </section><!-- //.sec03 -->

    <!-- section4 시작 -->
    <section class="sec04" data-aos="fade-up" data-aos-duration="800">
      <div class="sec_inner">
        <div class="title_wrap">
          <h2 class="main_title">딜버와 함께하고 있어요</h2>
          <p class="main_txt">딜버와 함께하는 파트너입니다</p>
        </div><!-- //.title_wrap -->
      </div>
      <div class="flow_wrap">
        <div class="flow_inner">
          <div id="flow" class="flow_area">
            <ul class="cf">
              <li id="content1"><img src="../assets/main/images/partner_01.jpg" alt=""></li>
              <li id="content2"><img src="../assets/main/images/partner_02.jpg" alt=""></li>
              <li id="content3"><img src="../assets/main/images/partner_03.jpg" alt=""></li>
              <li id="content4"><img src="../assets/main/images/partner_04.jpg" alt=""></li>
              <li id="content5"><img src="../assets/main/images/partner_05.jpg" alt=""></li>
              <li id="content6"><img src="../assets/main/images/partner_06.jpg" alt=""></li>
              <li id="content7"><img src="../assets/main/images/partner_07.jpg" alt=""></li>
              <li id="content8"><img src="../assets/main/images/partner_08.jpg" alt=""></li>
              <li id="content9"><img src="../assets/main/images/partner_09.jpg" alt=""></li>
              <li id="content10"><img src="../assets/main/images/partner_10.jpg" alt=""></li>
              <li id="content11"><img src="../assets/main/images/partner_11.jpg" alt=""></li>
              <li id="content12"><img src="../assets/main/images/partner_12.jpg" alt=""></li>
            </ul>
          </div><!-- //.trail -->
        </div>
      </div>
    </section><!-- //.sec04 -->

    <!-- section5 시작 -->
    <section class="sec05" data-aos="fade-left" data-aos-duration="800">
      <div class="title_wrap">
        <h2 class="main_title">문의하기</h2>
      </div>
      <div class="email_form">
        <p class="email_top_txt">
          지금 바로 지점 문의해보세요!
        </p>
        <form>
          <table class="">
            <tbody>
              <tr>
                <th>업체명<em>*</em></th>
                <td><input type="text" /></td>
                <th>연락처<em>*</em></th>
                <td><input type="text" /></td>
              </tr>
              <tr>
                <th>지점 운영 경험<em>*</em></th>
                <td >
                  <label>있음 <input type="checkbox" /></label>
                  <label>없음 <input type="checkbox" /></label>
                </td>
                <th>라이더 수<em>*</em></th>
                <td><input type="text" /></td>
              </tr>
              <tr >
                <th>
                  희망지역
                </th>
                <td rowspan="3"><input type="text" /></td>
              </tr>
              <tr >
                <th rowspan="4">
                  플랫폼
                </th>
              </tr>
              <tr >
                <td rowspan="4">
                  <label><input type="checkbox" /> 만나플래닛</label>
                  <label><input type="checkbox" /> 생각대로</label>
                  <label><input type="checkbox" /> 부릉</label>
                  <label><input type="checkbox" /> 스파이더</label>
                  <label><input type="checkbox" /> 리드콜</label>
                  <label><input type="checkbox" /> 젠딜리</label>
                  <label><input type="checkbox" /> 기타</label>
                </td>
              </tr>
            </tbody>
          </table>
          <label><input type="checkbox" /> 개인정보 보호방침에 동의합니다. (필수)</label>
          <a href="javascript:void(0)">개인정보 보호방침</a>
          <button type="submit">문의하기</button>
        </form>
      </div>

    </section><!-- //.sec05 -->

    <!-- section6 시작 -->
    <section class="sec06" data-aos="fade-up" data-aos-duration="800">
      <div class="sec_inner">

        ㄹㄹㄹ
      </div>
    </section><!-- //.sec06 -->


  </div><!-- //#content -->

</div><!-- //#wrap -->

<footer id="footer">
  <div class="footer-in cf">
    <ul class="cf">
      <li>
        <span class="foot_t foot_t1">법인명(상호)</span>
        <span class="foot_t foot_t2">(주)더원인터내셔널</span>
      </li>
      <li>
        <span class="foot_t foot_t1">대표</span>
        <span class="foot_t foot_t2">최현진</span>
      </li>
    </ul>
    <ul class="cf">
      <li>
        <span class="foot_t foot_t1">ADD</span>
        <span class="foot_t foot_t2">부산광역시 해운대구 청사포로 72 2층</span>
      </li>
      <li>
        <span class="foot_t foot_t1">TEL</span>
        <span class="foot_t foot_t2">1688-3731</span>
      </li>
      <li>
        <span class="foot_t foot_t1">FAX</span>
        <span class="foot_t foot_t2">051-704-4602</span>
      </li>

      <li>
        <span class="foot_t foot_t1">사업자등록번호</span>
        <span class="foot_t foot_t2">406-86-00070</span>
      </li>
    </ul>
    <ul class="cf">
      <li><a href="/homepage/delivery"><span class="foot_t foot_t1">배송 표준 약관</span></a></li>
      <li><a href="/homepage/locationbased"><span class="foot_t foot_t1">위치기반 서비스 이용약관</span></a></li>
      <li><a href="/homepage/privacy"><span class="foot_t foot_t1">개인정보 처리방침</span></a></li>
      <li><span class="foot_t foot_t2">COPYRIGHT 2022 DEALVER. ALL RIGHT RESERVED.</span></li>

    </ul>
  </div><!-- //.footer-in -->
  <p class="bike"><img src="/assets/main/images/foot_bike.png" alt=""></p>
  <p class="sign"><img src="/assets/main/images/foot_sign.png" alt=""></p>
</footer><!-- //#footer -->

<div class="banner">
  <a href="https://bluekangaroo.co.kr/index.html" target="_blank"><span class="banner_img"></span></a>
  <button class="banner_close"></button>
  <span class="banner_hide_tx hide">딜버전용몰 바로가기</span>
</div><!-- 블루캥거루 바로가기 -->

<div id="side">
  <div class="side_menu cf">
    <p class="side_logo"><img src="/assets/main/images/h_logo_w.png" alt=""></p>
    <div class="d1">
      <a href="/homepage/introduce_v2" class="m">우리 프로그램은?</a>
    </div>
    <div class="d1">
      <a href="/homepage/policy_v2" class="m">딜버정책</a>
    </div>
    <div class="d1">
      <a href="/homepage/inquiry_v2" class="m">문의하기</a>
    </div>
    <div class="d1">
      <a href="/homepage/download_v2" class="m">다운로드센터</a>
    </div>
    <? if( in_array($this->input->ip_address() , $this->config->item("admin_allow_ip_address")) ){ ?>
    <div class="d1">
      <a href="/homepage/notice_v2" class="m">공지사항</a>
    </div>
    <? } ?>
  </div>
  <div id="close_menu"></div><!-- //#close_menu -->
</div><!-- //#side -->

<div class="popup_container">
  <div class="popup_wrap">
    <div class="card_popup_wrap">
      <div id="card_popup_slide" class="card_popup popup">
        <div class="swiper-wrapper">
          <div class="popup_slide popup_slide1 swiper-slide cf">
            <div class="pop_left"><!--<img src="/assets/main/images/card_img_01.jpg" alt="">--></div>
            <div class="pop_right">
              <p class="card_pop_tit">더원인터내셔널의 <br>역사</p>
              <div class="card_pop_txt_wrap">
                <div class="card_pop_txt">
                  더원인터내셔널은 2015년 설립된 회사로 처음에는 온라인마케팅, 언론사(MCN분야), 화장품 제조판매(베베셀),
                  캐시월렛(리워드앱), 마멘토 (마케팅커뮤니티)등을 주 목적으로 하였고
                  승승장구하던 회사는 2017년 회사 부도로 인하여 모든 사업이 중단, 적자가 지속되었고
                  2018년 1월 약 25명의 인원중 단 3명만이 남게 되었습니다. <br class="pc_only_view">
                  그렇게 3명의 핵심 인력은 6개월 무급, 약 1년 6개월간의 최저급여를 받으며 딜버라는
                  배달플랫폼을 개발하면서 소프트웨어 개발 전문 회사로 성장하고 있습니다.
                </div>
              </div>
            </div>
          </div>
          <div class="popup_slide popup_slide2 swiper-slide cf">
            <div class="pop_left"><!--<img src="/assets/main/images/card_img_01.jpg" alt="">--></div>
            <div class="pop_right">
              <p class="card_pop_tit">우리는 왜 <br>딜버를 만들게 되었을까?</p>
              <div class="card_pop_txt_wrap">
                <div class="card_pop_txt">
                  우리는 2018년 1월 딜버라는 심부름, 퀵서비스 프로그램을 기획하고 개발 하였습니다.
                  우리동네 배달이 안되는 음식점 또는 물건따위를 대신 사서 배달해드리는 앱 서비스 입니다. <br class="pc_only_view">
                  배달대행은 외주로 계약하게 되었고 배달대행과 대행앱 2중 사용으로 (지금 말하면 배달대행앱 2중)인한 문제점으로
                  하나의 앱에서 모두 처리할 수 있도록 배달대행 이라는 것에 관심을 두고 개발에 착수 하였습니다.
                  딜버 배달대행은 누구나 쉽고 가볍게 편리하게 슬로건을 위해 노력하고 있으며 현재 우리가 목표한 70% 기능을 달성하였습니다.
                  우리는 배달대행뿐만 아니라 이용자 플랫폼 개발을 중지하지 않고 지속적으로 업데이트하여 목표 실천을 위해 노력하고 있습니다.
                </div>
              </div>
            </div>
          </div>
          <div class="popup_slide popup_slide3 swiper-slide cf">
            <div class="pop_left"><!--<img src="/assets/main/images/card_img_01.jpg" alt="">--></div>
            <div class="pop_right">
              <p class="card_pop_tit">우리는 <br>어떤 팀인가?</p>
              <div class="card_pop_txt_wrap">
                <div class="card_pop_txt">
                  우리는 일과 일상사이의 도전을 중요시 합니다. 때로는 누군가는 선택한 워라밸을 존중하기도 합니다.
                  우리는 워라밸을 누릴 수 있는 자격을 얻기 위해 도전하는 것 뿐입니다.
                  우리는 간절한 마음을 더해 하루 15시간씩 무급으로 즐거운 마음으로서로 응원하면서 달려왔습니다.
                  일을 적게 하고 많이 하는것이 중요한것 우선으로 바로 마음이 모아져 있기 때문 입니다.
                  우리는 할 수 있습니다. 그 무엇이 되었든, 우리는 서로를 의지하고 응원하고 달려가고 있습니다.
                  이것이 우리의 가장 큰 장점 입니다.

                </div>
              </div>
            </div>
          </div>
          <div class="popup_slide popup_slide4 swiper-slide cf">
            <div class="pop_left"><!--<img src="/assets/main/images/card_img_01.jpg" alt="">--></div>
            <div class="pop_right">
              <p class="card_pop_tit">우리는 <br>어떤일을 하고 있을까?</p>
              <div class="card_pop_txt_wrap">
                <div class="card_pop_txt">
                  우리는 2018년 딜버라는 퀵,심부름 플랫폼을 개발하여 서비스 중이며 배달대행 프로그램 딜버를 개발중입니다.
                  2020년에는 리뉴얼중인 주문중개+퀵서비스 프로그램 '잇고'를 출시하여 테스트중이며 2021년도에는 부산공공배달앱 동백통을 개발하였습니다.
                  2022년 하반기에는 2018년의 도전을 실행하기 위해 퀵서비스+심부름이 결합된 실거리를 기반으로한 중개 플랫폼을 출시할 예정입니다.
                  동백케어라는 비대면 의료 플랫폼을 개발하여 서비스 예정이며 또한 공공목적의 택시, 대리운전도 기획단계에 있습니다.

                </div>
              </div>
            </div>
          </div>
          <div class="popup_slide popup_slide5 swiper-slide cf">
            <div class="pop_left"><!--<img src="/assets/main/images/card_img_01.jpg" alt="">--></div>
            <div class="pop_right">
              <p class="card_pop_tit">함께 성장하는 파트너, <br>신뢰있는 배달대행사<!--로 <br class="pc_view">성장하고 싶어요--></p>
              <div class="card_pop_txt_wrap">
                <div class="card_pop_txt">
                  우리는 업계의 후발주자로써 여러분의 선택은 오히려 기회가 될 수 있습니다.
                  우리는 신뢰를 바탕으로 자사의 이익보다 상호 신뢰를 통한 동반성장을 중요시 합니다.<br><br>

                  <span class="bold">이런분들을 선호해요</span><br>
                  1. 단일프로그램을 오래 쓰신분<br>
                  2. 건전한 재무, 원칙을 바탕으로 한 경영을 중요시하는분


                </div>
              </div>
            </div>
          </div>
          <div class="popup_slide popup_slide6 swiper-slide cf">
            <div class="pop_left"><!--<img src="/assets/main/images/card_img_01.jpg" alt="">--></div>
            <div class="pop_right">
              <p class="card_pop_tit">이런일이 <br>하고 싶어요</p>
              <div class="card_pop_txt_wrap">
                <div class="card_pop_txt">
                  처음에는 우리가 시도한 무수한 기능들로 인해 많은 질타를 받았습니다.<br class="pc_only_view">
                  추천 배차를 왜만드냐고, 제대로 쓰지도 못하는 누구도 윈하지 않는 기능 개발을 왜 하느냐 등의 내용입니다.
                  하지만 우리는 이것이 우리가 해야만하는 일이라 생각했습니다. 한번씩 우리 기사님들의 사고 소식은 이 의지를 더욱 불태우게 하였습니다.
                  우리의 가족, 누군가에게는 아버지, 동생, 아들 딸들이 조금이라도 더 안전할수 있다면 그 누군가가 질타하더라도 앞으로도 도전하고 반드시 이뤄 낼 것 입니다.
                  또한 우리는 2023년 메타버스에 뛰어들어 전체적인 소통을 더 강화할 것입니다.
                  지역별 아지트가 생기고 센터관제, 기사님들의 관제를 몸이 불편하더라도 급여를 받으며 집에서 누군가 해줄 수 있고,
                  가상 세상속에서 예치금을 통해 물품을 구매할 수 도 있는 그런 세상을 만들고 싶습니다.

                </div>
              </div>
            </div>
          </div>

          <div class="card_popup_page"><span class="now"></span>/<span class="total"></span></div>

        </div><!-- .swiper-wrapper -->

        <button class="card_slide_btn card_slide_btnL"></button>
        <button class="card_slide_btn card_slide_btnR"></button>
        <button class="pop_close"></button>


      </div><!-- #card_popup_slide .card_popup 슬라이드 -->




    </div><!-- .card_popup_wrap -->



  </div><!-- .card_popup_slide -->

</div>
<p class="go_top">페이지 제일 위로 이동</p>



<!--카카오맵 설치 스크립트 * 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다.-->
<script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

<!-- 카카오맵 실행 스크립트 -->
<script charset="UTF-8">
    new daum.roughmap.Lander({
        "timestamp" : "1651135601219",
        "key" : "2azt9",
        "mapWidth" : "640",
        "mapHeight" : "360"
    }).render();
</script>


<script type="application/javascript" src="https://zelkun.tistory.com/attachment/cfile8.uf@99BB7A3D5D45C065343307.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha512-+NqPlbbtM1QqiK8ZAo4Yrj2c4lNQoGv8P79DPtKzj++l5jnN39rHA/xsqn8zE9l0uSoxaCdrOgFs6yjyfbBxSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!--<script th:src="@{/assets/js/jquery-3.3.1.min.js}"></script>-->
<script th:src="@{/assets/main/js/swiper.min.js}"></script>
<script th:src="@{/assets/main/js/main_v2.js}"></script>
<script th:src="@{/assets/main/js/aos.js}"></script>
<script>AOS.init();</script><!-- aos -->

<!--<script src="/assets/main/js/jquery-ui.min.js"></script>-->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=876f274a09e36c01e7404e9ba29d0670"></script>



</body>
</html>